body{
  margin: 0;
}
html{
  height: 100vh;
}

.nav{
  background-color: blueviolet;
  display: flex;
  align-items: center;
}

.logo >h1{
  color: white;
}
.text > h3{
  color: white;
}

.text{
  margin-left: auto;
  margin-right: 20px;
}

.header{
  display: flex;
  flex-direction: row;
}

.logo{
  display: flex;
  align-items: center;
  padding: 15px;
}

.form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 50px;
  grid-gap: 25px;

}

.button{
  grid-column: 1/span 2;
  border-radius: 10px;
  background-color: blueviolet;
  color: white;
  cursor: pointer;
  
}
.main{
  padding: 40px;
}

.text-1{
  border-radius: 10px;
}

.meme {
  position: relative;
  margin: 0 auto;
  width: 500px;
  margin-top: 20px;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}
.button:hover{
  background-color: white;
  color: blueviolet;
}

.top {
  top: 0;
}